/* FOMT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* GENERAL */

html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body{
  height: 100vh;
  background-color: #e9e9c6;
}

/* NAVBAR */

.navigation-bar{
  background: linear-gradient(black, #9e6c00 0%, #b48400 100%);
  height: 10vh;
  position: relative;
  z-index: 1000;
  font-weight: 600;
  -webkit-box-shadow: 0px -6px 25px 4px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px -6px 25px 4px rgba(0,0,0,0.73);
  box-shadow: 0px -6px 25px 4px rgba(0,0,0,0.73);
}

.headings{
  width: 80%;
  margin: 0;
}

.logo-container{
  width: 15vw;
  height: 15vw;
  position: absolute;
  transition: transform .3s ease;
}

.logo{
  width: 15vw;
  height: 15vw;
  transition: transform .3s ease;
}

.logo-icon{
  position: absolute;
  width: 12vw;
  height: auto;
}

.paragraph{
  transition: transform .3s ease;
}

.paragraph:hover{
  transform: scale(1.05);
}

.headings, .logo-container {
  animation: fadeDown 0.8s ease-in-out forwards;
}

/* MAP */

.leaflet-container {
    height: 90vh;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
.leaflet-image-layer{
  filter: invert(19%) sepia(43%) saturate(453%) hue-rotate(5deg) brightness(98%) contrast(92%);
}

/* ABOUT */

hr{
  width: 60%!important;
  text-align:center!important;
  margin-top: 2vh!important;
  margin-bottom: 2vh!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.about-page{
  height: 90vh;
  display: table-cell;
  flex-direction: column;
  vertical-align:middle;
  text-align: center;
  width: 100vw;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.small-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top:4vh;
  margin-bottom:4vh;
  width: 100%;
}

.small-card {
  width: 30%;
  height: auto;
  margin: 1vw;
  overflow-wrap: break-word;
  padding: 1vh;
  background-color: #e2e2c0;
  -webkit-box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  animation: fadeDown 0.5s ease-in-out forwards;
}

.big-card-container{
  background-color: #e2e2c0;
  -webkit-box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 14px -7px rgba(66, 68, 90, 1);
  width: 45vw;
  animation: fadeUp 0.5s ease-in-out forwards;
}

.big-card{
  display: flex;
  flex-wrap: wrap;
  margin-top:2vh;
  margin-bottom:2vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.big-card-content{
  width: 70%;
  padding: 1vh;
  overflow-wrap: break-word;
}

.small-card-content{
  width:100%;
  position: relative;
}

/* MOBILE */

@media (max-width: 800px) {
  p{
    font-size: 4vw!important;
  }
  .headings{
    width:85%;
  }
  .logo-icon{
    width: 13vw;
  }
  .navigation-bar{
    height: 6vh;
  }
  .card {
    width: 90%;
}
}

@media (min-width: 800px) and (max-width: 1200px){
  p{
    font-size: 3vw!important;
  }
}

@media (min-width: 1200px) {
  p{
    font-size: 1.8vw!important;
  }
  .logo{
    transform: translateY(-40px);
  }
  .logo-icon{
    margin-top: 25%;
  }
  .logo:hover {
    transform: scale(1.05) translateY(-40px);
  }
}

/* ANIMATIONS */

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}