{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="about-page">
    <div class="row">
        <div class="small-card-container d-flex justify-content-center">

            <div class="small-card">
                <div class="small-card-content">
                    <p>DATA</p>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none text-black" href="https://dane.gov.pl/pl/dataset/210,rejestr-zabytkow-archeologicznych">• Excavations in Poland via WMS service and CSV file</a></li>
                        <li><a class="text-decoration-none text-black" href="https://creativecommons.org/licenses/by/4.0/legalcode.pl">• Data from dane.gov.pl used under the CC BY 4.0 licence</a></li>
                        <li>• Maps provided by OpenStreetMap Foundation.</li>
                    </ul>
                </div>
            </div>
            
            <div class="small-card">
                <div class="small-card-content">
                    <p>LIBRARIES</p>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none text-black" href="https://www.djangoproject.com/">• Django</a></li>
                        <li><a class="text-decoration-none text-black" href="https://leafletjs.com/">• Leaflet.js</a></li>
                        <li><a class="text-decoration-none text-black" href="https://github.com/heigeo/leaflet.wms">• Leaflet.wms.js</a></li>
                        <li><a class="text-decoration-none text-black" href="https://github.com/leaflet-extras/leaflet-providers">• Leaflet providers</a></li>
                        <li><a class="text-decoration-none text-black" href="https://requirejs.org/">• Require.js</a></li>
                        <li><a class="text-decoration-none text-black" href="https://getbootstrap.com/">• Bootstrap</a></li>
                    </ul>
                </div>
            </div>

            <div class="small-card">
                <div class="small-card-content">
                    <p>CREDITS</p>
                    <hr>
                    <ul class="list-unstyled">
                        <li>• Icon by <a class="text-decoration-none text-black" href="https://www.iconfinder.com/icons/4791027/acropolis_ancient_building_greek_landmark_parthenon_icon">Royyan Wijaya</a> on Iconfinder</li>
                    </ul>
                </div>
            </div>

        </div>       
    </div>

    <div class="d-flex justify-content-center">
        <div class="big-card-container">

            <div class="big-card d-flex justify-content-center">
                <div class="big-card-content">
                <p>ABOUT</p>
                <div>Interactive map of archaeological sites in Poland as provided by dane.gov.pl website. Coordinates are parsed via WMS service. Information about every place is stored in sqlite3 database and loaded upon click on a specific point.</div>
                </div>
            </div>

            <div class="big-card d-flex justify-content-center">
                <div class="big-card-content">
                <p>GITHUB</p>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-black" href="https://github.com/f4rys/Archaeological-sites-in-Poland">github.com/f4rys/archaeological-sites-in-poland</a></li>
                </ul>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}